body {
    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
circle {
  opacity: 0.6;
}

text {
  font-family: sans-serif;
}

label {
  font-size: 18px;
}

select {
  font-size: 18px;
}

option {
  font-size: 18px;
}

#select-x {
  margin-right: 20px;
}

.flower {
  margin-right: 20px;
}

.flower:last-child {
  margin-right: 0;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#setosa {
  background: sienna;
}

#versicolor {
  background: olivedrab;
}

#virginica {
  background: rebeccapurple;
}

.controls {
  margin: 20px;
}

.title {
  font-size: 24px;
}

.tick text {
  font-size: 18px;
}

.tick line {
  stroke: lightgrey;
}

.axis-label {
  font-size: 24px;
}
